/experiments/*/*/.snakemake/
/experiments/*/*/output
/experiments/*/output
/experiments/*/output*
/experiments/*/.snakemake
/experiments/*/*fasta
/experiments/*/*nwk
/experiments/*/*vscode 
/experiments/*/*tree
/experiments/*/*tsv
/experiments/*/*csv
/experiments/*/*json
/experiments/*/*txt
/experiments/*/*log
/experiments/*/*svg
/experiments/*/*nex
/experiments/data/



/contrastFEL_data
/SimulateMG94/data*
/bsc_thesis
*.gitignore.swp
